src/main/resources/zuora-29.modified.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!-- Copyright Zuora, Inc. 2007 - 2010 All Rights Reserved. -->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:zns="http://api.zuora.com/" 
	xmlns:ons="http://object.api.zuora.com/" 
	xmlns:fns="http://fault.api.zuora.com/"
	targetNamespace="http://api.zuora.com/">
	<types>
		<schema attributeFormDefault="qualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://object.api.zuora.com/">
			<complexType name="zObject">
				<sequence>
					<element minOccurs="0" maxOccurs="unbounded" name="fieldsToNull" nillable="true" type="string" />
					<element minOccurs="0" maxOccurs="1" name="Id" nillable="true" type="zns:ID" />
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
				</sequence>
			</complexType>
			<complexType name="Account">
				<complexContent>
					<extension base="ons:zObject"><sequence/></extension>
				</complexContent>
			</complexType>
			
            <complexType name="AccountingRun">
                <complexContent>
                    <extension base="ons:zObject"><sequence/></extension>
                </complexContent>
            </complexType>
            <complexType name="AccountingRunAdjustmentSummary"> 
                <complexContent>
                    <extension base="ons:zObject"><sequence/></extension>
                </complexContent>
            </complexType>
            <complexType name="AccountingRunInvoiceSummary"> 
                <complexContent>
                    <extension base="ons:zObject"><sequence/></extension>
                </complexContent>
            </complexType>
            <complexType name="AccountingRunPaymentSummary"> 
                <complexContent>
                    <extension base="ons:zObject"><sequence/></extension>
                </complexContent>
            </complexType>
            <complexType name="InvoiceAccountingDetail"> 
                <complexContent>
                    <extension base="ons:zObject"><sequence/></extension>
                </complexContent>
            </complexType>
            <complexType name="AdjustmentAccountingDetail"> 
                <complexContent>
                    <extension base="ons:zObject"><sequence/></extension>
                </complexContent>
            </complexType>
            <complexType name="PaymentAccountingDetail"> 
                <complexContent>
                    <extension base="ons:zObject"><sequence/></extension>
                </complexContent>
            </complexType>
			<complexType name="InvoiceAdjustment">
				<complexContent>
					<extension base="ons:zObject"><sequence/></extension>
				</complexContent>
			</complexType>
<complexType name="InvoiceItemAdjustment" >
				<complexContent>
					<extension base="ons:zObject"><sequence/></extension>
				</complexContent>
			</complexType>	

			<complexType name="Amendment">
				<complexContent>
					<extension base="ons:zObject"><sequence/></extension>
				</complexContent>
			</complexType>
			<complexType name="Contact">
				<complexContent>
					<extension base="ons:zObject"><sequence/></extension>
				</complexContent>
			</complexType>
			<complexType name="Invoice" >
				<complexContent>
					<extension base="ons:zObject"><sequence/></extension>
				</complexContent>
			</complexType>
			<complexType name="Refund">
				<complexContent>
					<extension base="ons:zObject"><sequence/></extension>
				</complexContent>
			</complexType>
			<complexType name="RefundInvoicePayment">
				<complexContent>
					<extension base="ons:zObject"><sequence/></extension>
				</complexContent>
			</complexType>
			<complexType name="InvoiceItem">
				<complexContent>
					<extension base="ons:zObject"><sequence/></extension>
				</complexContent>
			</complexType>
			<complexType name="InvoicePayment">
				<complexContent>
					<extension base="ons:zObject"><sequence/></extension>
				</complexContent>
			</complexType>
			<complexType name="Payment">
				<complexContent>
					<extension base="ons:zObject"><sequence/></extension>
				</complexContent>
			</complexType>
			<complexType name="PaymentMethod">
				<complexContent>
					<extension base="ons:zObject"><sequence/></extension>
				</complexContent>
			</complexType>
			<complexType name="Product">
				<complexContent>
					<extension base="ons:zObject"><sequence/></extension>
				</complexContent>
			</complexType>
			<complexType name="ProductRatePlan">
				<complexContent>
					<extension base="ons:zObject"><sequence/></extension>
				</complexContent>
			</complexType>
			<complexType name="ProductRatePlanCharge">
				<complexContent>
					<extension base="ons:zObject"><sequence/></extension>
				</complexContent>
			</complexType>
			<complexType name="ProductRatePlanChargeTier">
				<complexContent>
					<extension base="ons:zObject"><sequence/></extension>
				</complexContent>
			</complexType>
			<complexType name="RatePlan">
				<complexContent>
					<extension base="ons:zObject"><sequence/></extension>
				</complexContent>
			</complexType>
			<complexType name="RatePlanCharge">
				<complexContent>
					<extension base="ons:zObject"><sequence/></extension>
				</complexContent>
			</complexType>
			<complexType name="RatePlanChargeTier">
				<complexContent>
					<extension base="ons:zObject"><sequence/></extension>
				</complexContent>
			</complexType>
			<complexType name="Subscription">
				<complexContent>
					<extension base="ons:zObject"><sequence/></extension>
				</complexContent>
			</complexType>
		<complexType name="TaxationItem" >
	    		<complexContent>
	    		 <extension base="ons:zObject"><sequence/></extension>
	           </complexContent>
	   		</complexType>

			
	   	 <complexType name="Usage">
	    		<complexContent>
	    		 <extension base="ons:zObject"><sequence/></extension>
	           </complexContent>
	   		</complexType>
	   	 <complexType name="CreditBalanceAdjustment">
	    		<complexContent>
	    		 <extension base="ons:zObject"><sequence/></extension>
	           </complexContent>
	   		</complexType>
          <complexType name="Export">
            <complexContent>
             <extension base="ons:zObject"><sequence/></extension>
              </complexContent>
            </complexType>
   		</schema>
		<schema attributeFormDefault="qualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://api.zuora.com/">
			<simpleType name="ID">
				<restriction base="xs:string">
					<pattern value='[a-zA-Z0-9]{32}|\d+' />
				</restriction>
			</simpleType>
			<complexType name="LoginResult">
				<sequence>
					<element name="Session" nillable="true" type="xs:string" />
					<element name="ServerUrl" nillable="true" type="xs:string" />
				</sequence>
			</complexType>
			<complexType name="SubscribeRequest">
				<sequence>
					<element minOccurs="0" name="Account" nillable="true" type="ons:Account" />
					<element minOccurs="0" name="PaymentMethod" nillable="true" type="ons:PaymentMethod" />
					<element minOccurs="0" name="BillToContact" nillable="true" type="ons:Contact" />
					<element minOccurs="0" name="PreviewOptions" nillable="true" type="zns:PreviewOptions"  />
					<element minOccurs="0" name="SoldToContact" nillable="true" type="ons:Contact" />
					<element minOccurs="0" name="SubscribeOptions" nillable="true" type="zns:SubscribeOptions" />
					<element minOccurs="0" name="SubscriptionData" nillable="true" type="zns:SubscriptionData" />
				</sequence>
			</complexType>
			<complexType name="SubscribeOptions">
				<sequence>
					<element minOccurs="0" name="GenerateInvoice" nillable="true" type="xs:boolean" />
					<element minOccurs="0" name="ProcessPayments" nillable="true" type="xs:boolean" />
				</sequence>
			</complexType>			
			<complexType name="SubscriptionData">
				<sequence>
					<element minOccurs="0" name="Subscription" nillable="true" type="ons:Subscription" />
					<element minOccurs="0" maxOccurs="unbounded" name="RatePlanData" nillable="true" type="zns:RatePlanData" />
				</sequence>
			</complexType>
			<complexType name="RatePlanData">
				<sequence>
					<element minOccurs="0" name="RatePlan" nillable="true" type="ons:RatePlan" />
					<element maxOccurs="unbounded" minOccurs="0" name="RatePlanChargeData" nillable="true" type="zns:RatePlanChargeData" />
				</sequence>
			</complexType>
				<complexType name="RatePlanChargeData">
					<sequence>
						<element minOccurs="0" name="RatePlanCharge" nillable="true" type="ons:RatePlanCharge" />
						<element maxOccurs="unbounded" minOccurs="0" name="RatePlanChargeTier" nillable="true" type="ons:RatePlanChargeTier" />
					</sequence>
				</complexType>
				<complexType name="ProductRatePlanChargeTierData">
					<sequence>
						<element maxOccurs="unbounded" minOccurs="0" name="ProductRatePlanChargeTier" nillable="true" type="ons:ProductRatePlanChargeTier" />
					</sequence>
				</complexType>
				<complexType name="InvoiceData">
					<sequence>
						<element minOccurs="0" name="Invoice" nillable="true" type="ons:Invoice" />
						<element minOccurs="0" maxOccurs="unbounded" name="InvoiceItem" nillable="true" type="ons:InvoiceItem" />
					</sequence>
				</complexType>
				<complexType name="PreviewOptions">
					<sequence>
						<element minOccurs="0" name="EnablePreviewMode" nillable="true" type="boolean" />
						<element minOccurs="0" name="NumberOfPeriods" nillable="true" type="int" />
					</sequence>
				</complexType>
		
			<complexType name="SubscribeResult">
				<sequence>
					<element minOccurs="0" name="AccountId" nillable="true" type="zns:ID" />
					<element minOccurs="0" name="AccountNumber" nillable="true" type="string" />
					<element minOccurs="0" maxOccurs="unbounded" name="Errors" nillable="true" type="zns:Error" />
					<element minOccurs="0" maxOccurs="unbounded" name="InvoiceData" nillable="true" type="zns:InvoiceData" />
					<element minOccurs="0" name="InvoiceId" nillable="true" type="zns:ID" />
					<element minOccurs="0" name="InvoiceNumber" nillable="true" type="string" />
					<element minOccurs="0" name="PaymentTransactionNumber" nillable="true" type="string" />
					<element minOccurs="0" name="SubscriptionId" nillable="true" type="zns:ID" />
					<element minOccurs="0" name="SubscriptionNumber" nillable="true" type="string" />
					<element minOccurs="0" maxOccurs="1" name="Success" type="boolean" />
				</sequence>
			</complexType>
			<complexType name="SaveResult">
				<sequence>
					<element minOccurs="0" maxOccurs="unbounded" name="Errors" nillable="true" type="zns:Error" />
					<element minOccurs="0" maxOccurs="1" name="Id" nillable="true" type="zns:ID" />
					<element minOccurs="0" maxOccurs="1" name="Success" type="boolean" />
				</sequence>
			</complexType>
			<complexType name="DeleteResult">
				<sequence>
					<element name="errors" minOccurs="0" maxOccurs="unbounded" type="zns:Error" nillable="true" />
					<element name="id" minOccurs="0" maxOccurs="1" type="zns:ID" nillable="true" />
					<element name="success" minOccurs="0" maxOccurs="1" type="boolean" />
				</sequence>
			</complexType>
			<simpleType name="QueryLocator">
				<restriction base="xs:string" />
			</simpleType>
			<complexType name="QueryResult">
				<sequence>
					<element name="done" type="xs:boolean" />
					<element name="queryLocator" type="zns:QueryLocator" nillable="true" />
					<element name="records" type="ons:zObject" nillable="true" minOccurs="0" maxOccurs="unbounded" />
					<element name="size" type="xs:int" />
				</sequence>
			</complexType>
			<complexType name="Error">
				<sequence>
					<element minOccurs="0" name="Code" nillable="true" type="zns:ErrorCode" />
					<element minOccurs="0" name="Message" nillable="true" type="string" />
					<element minOccurs="0" name="Field" nillable="true" type="string" />
				</sequence>
			</complexType>
			<simpleType name="ErrorCode">
				<restriction base="xs:string">
					<enumeration value="API_DISABLED" />
					<enumeration value="CANNOT_DELETE" />
					<enumeration value="CREDIT_CARD_PROCESSING_FAILURE" />
					<enumeration value="DUPLICATE_VALUE" />
					<enumeration value="INVALID_FIELD" />
					<enumeration value="INVALID_LOGIN" />
					<enumeration value="INVALID_SESSION" />
					<enumeration value="INVALID_TYPE" />
					<enumeration value="INVALID_ID" />
					<enumeration value="INVALID_VALUE" />
					<enumeration value="INVALID_VERSION" />
					<enumeration value="MALFORMED_QUERY" />
					<enumeration value="MAX_RECORDS_EXCEEDED" />
					<enumeration value="MISSING_REQUIRED_VALUE" />
					<enumeration value="NO_PERMISSION" />
					<enumeration value="SERVER_UNAVAILABLE" />
					<enumeration value="UNKNOWN_ERROR" />
					<enumeration value="TRANSACTION_FAILED" />
					<enumeration value="INVALID_TEMPLATE" />
					<enumeration value="ACCOUNTING_PERIOD_CLOSED" />
					<enumeration value="BATCH_FAIL_ERROR"/>
				</restriction>
			</simpleType>
			<element name="login">
				<complexType>
					<sequence>
						<element minOccurs="0" maxOccurs="1" name="username" type="string" />
						<element minOccurs="0" maxOccurs="1" name="password" type="string" />
					</sequence>
				</complexType>
			</element>
			<element name="loginResponse">
				<complexType>
					<sequence>
						<element minOccurs="0" maxOccurs="1" name="result" type="zns:LoginResult" />
					</sequence>
				</complexType>
			</element>
			<element name="subscribe">
				<complexType>
					<sequence>
						<element name="subscribes" minOccurs="0" maxOccurs="unbounded" type="zns:SubscribeRequest" />
					</sequence>
				</complexType>
			</element>
			<element name="subscribeResponse">
				<complexType>
					<sequence>
						<element name="result" minOccurs="0" maxOccurs="unbounded" type="zns:SubscribeResult" />
					</sequence>
				</complexType>
			</element>
			<element name="create">
				<complexType>
					<sequence>
						<element minOccurs="0" maxOccurs="unbounded" name="zObjects" type="ons:zObject" />
					</sequence>
				</complexType>
			</element>
			<element name="createResponse">
				<complexType>
					<sequence>
						<element minOccurs="0" maxOccurs="unbounded" name="result" type="zns:SaveResult" />
					</sequence>
				</complexType>
			</element>
			<element name="generate">
				<complexType>
					<sequence>
						<element minOccurs="0" maxOccurs="unbounded" name="zObjects" type="ons:zObject" />
					</sequence>
				</complexType>
			</element>
			<element name="generateResponse">
				<complexType>
					<sequence>
						<element minOccurs="0" maxOccurs="unbounded" name="result" type="zns:SaveResult" />
					</sequence>
				</complexType>
			</element>
			<element name="update">
				<complexType>
					<sequence>
						<element minOccurs="0" maxOccurs="unbounded" name="zObjects" type="ons:zObject" />
					</sequence>
				</complexType>
			</element>
			<element name="updateResponse">
				<complexType>
					<sequence>
						<element minOccurs="0" maxOccurs="unbounded" name="result" type="zns:SaveResult" />
					</sequence>
				</complexType>
			</element>
			<element name="delete">
				<complexType>
					<sequence>
						<element name="type" type="string" minOccurs="1" maxOccurs="1" />
						<element name="ids" type="zns:ID" minOccurs="0" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<element name="deleteResponse">
				<complexType>
					<sequence>
						<element name="result" type="zns:DeleteResult" minOccurs="0" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<element name="query">
				<complexType>
					<sequence>
						<element name="queryString" type="xs:string" />
					</sequence>
				</complexType>
			</element>
			<element name="queryResponse">
				<complexType>
					<sequence>
						<element name="result" type="zns:QueryResult" />
					</sequence>
				</complexType>
			</element>
           <element name="queryMore"> 
                <complexType> 
                    <sequence> 
                        <element name="queryLocator" type="zns:QueryLocator"/> 
                    </sequence> 
                </complexType> 
            </element> 
            <element name="queryMoreResponse"> 
                <complexType> 
                    <sequence> 
                        <element name="result" type="zns:QueryResult"/> 
                    </sequence> 
                </complexType> 
            </element> 
			<element name="SessionHeader">
				<complexType>
					<sequence>
						<element name="session" type="string" />
					</sequence>
				</complexType>
			</element>
            <element name="QueryOptions">
                <complexType>
                    <sequence>
                        <element name="batchSize" type="int" minOccurs="0"/>
                        <element name="caseSensitive" type="boolean" minOccurs="0" />
                    </sequence>
                </complexType>
            </element>
			<element name="getUserInfoResponse">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="TenantId" type="string" />
						<element minOccurs="1" maxOccurs="1" name="TenantName" type="string" />
						<element minOccurs="1" maxOccurs="1" name="UserEmail" type="string" />
						<element minOccurs="1" maxOccurs="1" name="UserFullName" type="string" />
						<element minOccurs="1" maxOccurs="1" name="UserId" type="string" />
						<element minOccurs="1" maxOccurs="1" name="Username" type="string" />
					</sequence>
				</complexType>
			</element>
			<element name="getUserInfo">
				<complexType>
					<sequence/>
				</complexType>
			</element>
			<element name="DummyHeader">
				<complexType>
					<sequence>
						<element minOccurs="0" name="Account" nillable="true" type="ons:Account" />
						<element minOccurs="0" name="AccountingRun" nillable="true" type="ons:AccountingRun" />
						<element minOccurs="0" name="AccountingRunInvoiceSummary" nillable="true" type="ons:AccountingRunInvoiceSummary"  />
						<element minOccurs="0" name="AccountingRunAdjustmentSummary" nillable="true" type="ons:AccountingRunAdjustmentSummary" />
						<element minOccurs="0" name="AccountingRunPaymentSummary" nillable="true" type="ons:AccountingRunPaymentSummary" />
						<element minOccurs="0" name="InvoiceAccountingDetail" nillable="true" type="ons:InvoiceAccountingDetail"  />
						<element minOccurs="0" name="AdjustmentAccountingDetail" nillable="true" type="ons:AdjustmentAccountingDetail" />
						<element minOccurs="0" name="PaymentAccountingDetail" nillable="true" type="ons:PaymentAccountingDetail"  />
						<element minOccurs="0" name="InvoiceAdjustment" nillable="true" type="ons:InvoiceAdjustment" />
						<element minOccurs="0" name="Amendment" nillable="true" type="ons:Amendment" />
						<element minOccurs="0" name="Invoice" nillable="true" type="ons:Invoice" />
						<element minOccurs="0" name="InvoiceItem" nillable="true" type="ons:InvoiceItem" />
						<element minOccurs="0" name="InvoicePayment" nillable="true" type="ons:InvoicePayment" />
						<element minOccurs="0" name="Payment" nillable="true" type="ons:Payment" />
						<element minOccurs="0" name="Product" nillable="true" type="ons:Product" />
						<element minOccurs="0" name="ProductRatePlan" nillable="true" type="ons:ProductRatePlan" />
						<element minOccurs="0" name="ProductRatePlanCharge" nillable="true" type="ons:ProductRatePlanCharge" />
						<element minOccurs="0" name="ProductRatePlanChargeTier" nillable="true" type="ons:ProductRatePlanChargeTier" />
						<element minOccurs="0" name="RatePlan" nillable="true" type="ons:RatePlan" />
						<element minOccurs="0" name="RatePlanCharge" nillable="true" type="ons:RatePlanCharge" />
						<element minOccurs="0" name="RatePlanChargeTier" nillable="true" type="ons:RatePlanChargeTier" />
						<element minOccurs="0" name="TaxationItem" nillable="true" type="ons:TaxationItem" />					
						<element minOccurs="0" name="Usage" nillable="true" type="ons:Usage" />
						<element minOccurs="0" name="Refund" nillable="true" type="ons:Refund" />
						<element minOccurs="0" name="RefundInvoicePayment" nillable="true" type="ons:RefundInvoicePayment" />				
						<element minOccurs="0" name="CreditBalanceAdjustment" nillable="true" type="ons:CreditBalanceAdjustment" />				
                        <element minOccurs="0" name="Export" nillable="true" type="ons:Export"  />
						<element minOccurs="0" name="InvoiceItemAdjustment" nillable="true" type="ons:InvoiceItemAdjustment" />				
					</sequence>
				</complexType>
			</element>
            	<element name="CallOptions">
                        <complexType>
                           <sequence>
                               <element minOccurs="0" name="useSingleTransaction" nillable="true" type="boolean" />
                           </sequence>
                       	</complexType>
                   	</element>
				<complexType name="InvoiceProcessingOptions">
				    <sequence>
				        <element minOccurs="0" name="InvoiceTargetDate" nillable="true" type="dateTime" />
				    </sequence>
				</complexType>
				<complexType name="AmendOptions" >
					<sequence>
				        <element minOccurs="0" name="InvoiceProcessingOptions" nillable="true" type="zns:InvoiceProcessingOptions" />
					</sequence>
				</complexType>
				<complexType name="AmendRequest">
					<sequence>
						<element minOccurs="0" maxOccurs="unbounded" name="Amendments" nillable="true" type="ons:Amendment" />
						<element minOccurs="0" name="AmendOptions" nillable="true" type="zns:AmendOptions" />
						<element minOccurs="0" name="PreviewOptions" nillable="true" type="zns:PreviewOptions" />
					</sequence>
				</complexType>
				<element name="amend">
					<complexType>
						<sequence>
							<element name="requests" minOccurs="0" maxOccurs="unbounded" type="zns:AmendRequest" />
						</sequence>
					</complexType>
				</element>
				<complexType name="AmendResult">
					<sequence>
						<element minOccurs="0" maxOccurs="unbounded" name="AmendmentIds" nillable="true" type="zns:ID" />
						<element minOccurs="0" maxOccurs="unbounded" name="Errors" nillable="true" type="zns:Error" />
						<element minOccurs="0" maxOccurs="unbounded" name="InvoiceDatas" nillable="true" type="zns:InvoiceData" />
						<element minOccurs="0" maxOccurs="1" name="Success" type="boolean" />
					</sequence>
				</complexType>
				<element name="amendResponse">
					<complexType>
						<sequence>
							<element name="results" minOccurs="0" maxOccurs="unbounded" type="zns:AmendResult" />
						</sequence>
					</complexType>
				</element>
		</schema>
		<schema attributeFormDefault="qualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://fault.api.zuora.com/">
			<complexType name="ApiFault">
				<sequence>
					<element minOccurs="0" name="FaultCode" nillable="true" type="zns:ErrorCode" />
					<element minOccurs="0" name="FaultMessage" nillable="true" type="string" />
				</sequence>
			</complexType>
			<element name="fault" type="fns:ApiFault" />
			<complexType name="LoginFault">
				<complexContent>
					<extension base="fns:ApiFault" />
				</complexContent>
			</complexType>
			<element name="LoginFault" type="fns:LoginFault" />
			<complexType name="InvalidTypeFault">
				<complexContent>
					<extension base="fns:ApiFault" />
				</complexContent>
			</complexType>
			<element name="InvalidTypeFault" type="fns:InvalidTypeFault" />
			<complexType name="InvalidValueFault">
				<complexContent>
					<extension base="fns:ApiFault" />
				</complexContent>
			</complexType>
			<element name="InvalidValueFault" type="fns:InvalidValueFault" />
			<complexType name="MalformedQueryFault">
				<complexContent>
					<extension base="fns:ApiFault" />
				</complexContent>
			</complexType>
			<element name="MalformedQueryFault" type="fns:MalformedQueryFault" />
			<complexType name="InvalidQueryLocatorFault">
				<complexContent>
					<extension base="fns:ApiFault" />
				</complexContent>
			</complexType>
			<element name="InvalidQueryLocatorFault" type="fns:InvalidQueryLocatorFault" />
			<complexType name="UnexpectedErrorFault">
				<complexContent>
					<extension base="fns:ApiFault" />
				</complexContent>
			</complexType>
			<element name="UnexpectedErrorFault" type="fns:UnexpectedErrorFault" />
		</schema>
		
	</types>
	<message name="ApiFault">
		<part name="fault" element="fns:fault" />
	</message>
	<message name="LoginFault">
		<part name="fault" element="fns:LoginFault" />
	</message>
	<message name="InvalidTypeFault">
		<part name="fault" element="fns:InvalidTypeFault" />
	</message>
	<message name="InvalidValueFault">
		<part name="fault" element="fns:InvalidValueFault" />
	</message>
	<message name="MalformedQueryFault">
		<part name="fault" element="fns:MalformedQueryFault" />
	</message>
	<message name="InvalidQueryLocatorFault">
		<part name="fault" element="fns:InvalidQueryLocatorFault" />
	</message>
	<message name="UnexpectedErrorFault">
		<part name="fault" element="fns:UnexpectedErrorFault" />
	</message>
	<message name="loginRequest">
		<part name="parameters" element="zns:login" />
	</message>
	<message name="loginResponse">
		<part name="parameters" element="zns:loginResponse" />
	</message>
	<message name="subscribeRequest">
		<part name="parameters" element="zns:subscribe" />
	</message>
	<message name="subscribeResponse">
		<part name="parameters" element="zns:subscribeResponse" />
	</message>
	<message name="createRequest">
		<part name="parameters" element="zns:create" />
	</message>
	<message name="createResponse">
		<part name="parameters" element="zns:createResponse" />
	</message>
	<message name="generateRequest">
		<part name="parameters" element="zns:generate" />
	</message>
	<message name="generateResponse">
		<part name="parameters" element="zns:generateResponse" />
	</message>
	<message name="updateRequest">
		<part name="parameters" element="zns:update" />
	</message>
	<message name="updateResponse">
		<part name="parameters" element="zns:updateResponse" />
	</message>
	<message name="deleteRequest">
		<part name="parameters" element="zns:delete" />
	</message>
	<message name="deleteResponse">
		<part name="parameters" element="zns:deleteResponse" />
	</message>
	<message name="queryRequest">
		<part name="parameters" element="zns:query" />
	</message>
	<message name="queryResponse">
		<part name="parameters" element="zns:queryResponse" />
	</message>
	    <message name="queryMoreRequest"> 
	        <part element="zns:queryMore" name="parameters"/> 
	    </message> 
	    <message name="queryMoreResponse"> 
	        <part element="zns:queryMoreResponse" name="parameters"/> 
	    </message> 
	<message name="Header">
		<part name="CallOptions" element="zns:CallOptions" />
		<part name="QueryOptions" element="zns:QueryOptions" />
		<part name="SessionHeader" element="zns:SessionHeader" />
	</message>
	
	<message name="getUserInfo">
		<part name="getUserInfo" element="zns:getUserInfo"/>
	</message>
	<message name="getUserInfoResponse">
		<part name="parameters" element="zns:getUserInfoResponse"/>
	</message>
		<message name="amendRequest">
			<part name="parameters" element="zns:amend"/>
		</message>
		<message name="amendResponse">
			<part name="parameters" element="zns:amendResponse"/>
		</message>
	<portType name="Soap">
		<operation name="login">
			<input message="zns:loginRequest" />
			<output message="zns:loginResponse" />
			<fault message="zns:LoginFault" name="LoginFault" />
			<fault message="zns:UnexpectedErrorFault" name="UnexpectedErrorFault" />
		</operation>
		<operation name="subscribe">
			<input message="zns:subscribeRequest" />
			<output message="zns:subscribeResponse" />
			<fault message="zns:UnexpectedErrorFault" name="UnexpectedErrorFault" />
		</operation>
		<operation name="create">
			<input message="zns:createRequest" />
			<output message="zns:createResponse" />
			<fault message="zns:InvalidTypeFault" name="InvalidTypeFault" />
			<fault message="zns:UnexpectedErrorFault" name="UnexpectedErrorFault" />
		</operation>
		<operation name="generate">
			<input message="zns:generateRequest" />
			<output message="zns:generateResponse" />
			<fault message="zns:InvalidTypeFault" name="InvalidTypeFault" />
			<fault message="zns:UnexpectedErrorFault" name="UnexpectedErrorFault" />
		</operation>
		<operation name="update">
			<input message="zns:updateRequest" />
			<output message="zns:updateResponse" />
			<fault message="zns:InvalidTypeFault" name="InvalidTypeFault" />
			<fault message="zns:UnexpectedErrorFault" name="UnexpectedErrorFault" />
		</operation>
		<operation name="delete">
			<input message="zns:deleteRequest" />
			<output message="zns:deleteResponse" />
			<fault message="zns:InvalidTypeFault" name="InvalidTypeFault" />
			<fault message="zns:InvalidValueFault" name="InvalidValueFault" />
			<fault message="zns:UnexpectedErrorFault" name="UnexpectedErrorFault" />
		</operation>
		<operation name="query">
			<input message="zns:queryRequest" />
			<output message="zns:queryResponse" />
			<fault message="zns:MalformedQueryFault" name="MalformedQueryFault" />
			<fault message="zns:InvalidQueryLocatorFault" name="InvalidQueryLocatorFault" />
			<fault message="zns:UnexpectedErrorFault" name="UnexpectedErrorFault" />
		</operation>
        <operation name="queryMore"> 
            <documentation>Gets the next batch of sObjects from a query</documentation> 
            <input  message="zns:queryMoreRequest"/> 
            <output message="zns:queryMoreResponse"/> 
            <fault  message="zns:InvalidQueryLocatorFault" name="InvalidQueryLocatorFault"/> 
            <fault  message="zns:UnexpectedErrorFault" name="UnexpectedErrorFault"/> 
        </operation> 
        <operation name="getUserInfo">
        	<input message="zns:getUserInfo"/>
        	<output message="zns:getUserInfoResponse"/>
        	<fault message="zns:UnexpectedErrorFault" name="UnexpectedErrorFault"/>
        </operation>
    	<operation name="amend">
        	<input message="zns:amendRequest"/>
        	<output message="zns:amendResponse"/>
        	<fault message="zns:UnexpectedErrorFault" name="UnexpectedErrorFault"/>
        </operation>
	</portType>
	<binding name="SoapBinding" type="zns:Soap">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="login">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="LoginFault">
				<soap:fault name="LoginFault" use="literal" />
			</fault>
			<fault name="UnexpectedErrorFault">
				<soap:fault name="UnexpectedErrorFault" use="literal" />
			</fault>
		</operation>
		<operation name="subscribe">
			<soap:operation soapAction="" />
			<input>
				<soap:header use="literal" message="zns:Header" part="SessionHeader" />
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="UnexpectedErrorFault">
				<soap:fault name="UnexpectedErrorFault" use="literal" />
			</fault>
		</operation>
		<operation name="create">
			<soap:operation soapAction="" />
			<input>
				<soap:header use="literal" message="zns:Header" part="CallOptions" />
				<soap:header use="literal" message="zns:Header" part="SessionHeader" />
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="InvalidTypeFault">
				<soap:fault name="InvalidTypeFault" use="literal" />
			</fault>
			<fault name="UnexpectedErrorFault">
				<soap:fault name="UnexpectedErrorFault" use="literal" />
			</fault>
		</operation>
		<operation name="generate">
			<soap:operation soapAction="" />
			<input>
				<soap:header use="literal" message="zns:Header" part="SessionHeader" />
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="InvalidTypeFault">
				<soap:fault name="InvalidTypeFault" use="literal" />
			</fault>
			<fault name="UnexpectedErrorFault">
				<soap:fault name="UnexpectedErrorFault" use="literal" />
			</fault>
		</operation>
		<operation name="update">
			<soap:operation soapAction="" />
			<input>
				<soap:header use="literal" message="zns:Header" part="SessionHeader" />
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="InvalidTypeFault">
				<soap:fault name="InvalidTypeFault" use="literal" />
			</fault>
			<fault name="UnexpectedErrorFault">
				<soap:fault name="UnexpectedErrorFault" use="literal" />
			</fault>
		</operation>
		<operation name="query">
			<soap:operation soapAction="" />
			<input>
				<soap:header use="literal" message="zns:Header" part="QueryOptions"  />
				<soap:header use="literal" message="zns:Header" part="SessionHeader" />
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="MalformedQueryFault">
				<soap:fault name="MalformedQueryFault" use="literal" />
			</fault>
			<fault name="InvalidQueryLocatorFault">
				<soap:fault name="InvalidQueryLocatorFault" use="literal" />
			</fault>
			<fault name="UnexpectedErrorFault">
				<soap:fault name="UnexpectedErrorFault" use="literal" />
			</fault>
		</operation>
        <operation name="queryMore"> 
            <soap:operation soapAction=""/> 
            <input> 
				<soap:header use="literal" message="zns:Header" part="QueryOptions" />
				<soap:header use="literal" message="zns:Header" part="SessionHeader" />
				<soap:body use="literal" />
            </input> 
            <output> 
                <soap:body use="literal"/> 
            </output> 
            <fault name="InvalidQueryLocatorFault"> 
                <soap:fault name="InvalidQueryLocatorFault" use="literal"/> 
            </fault> 
            <fault name="UnexpectedErrorFault"> 
                <soap:fault name="UnexpectedErrorFault" use="literal"/> 
            </fault> 
        </operation>
		<operation name="delete">
			<soap:operation soapAction="" />
			<input>
				<soap:header use="literal" message="zns:Header" part="SessionHeader" />
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="InvalidTypeFault">
				<soap:fault name="InvalidTypeFault" use="literal" />
			</fault>
			<fault name="InvalidValueFault">
				<soap:fault name="InvalidValueFault" use="literal" />
			</fault>
			<fault name="UnexpectedErrorFault">
				<soap:fault name="UnexpectedErrorFault" use="literal" />
			</fault>
		</operation>
        <operation name="getUserInfo">
			<soap:operation soapAction=""/>
			<input>
				<soap:header use="literal" message="zns:Header" part="SessionHeader" />
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="UnexpectedErrorFault">
				<soap:fault name="UnexpectedErrorFault" use="literal"/>
			</fault>
        </operation>
    	<operation name="amend">
			<soap:operation soapAction=""/>
			<input>
				<soap:header use="literal" message="zns:Header" part="SessionHeader" />
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="UnexpectedErrorFault">
				<soap:fault name="UnexpectedErrorFault" use="literal"/>
			</fault>
        </operation>
	</binding>
	<service name="ZuoraService">
		<port name="Soap" binding="zns:SoapBinding">
			<soap:address location="https://apisandbox.zuora.com/apps/services/a/29.0" />
		</port>
	</service>
</definitions>
